/* Task 16 */
@import '103-sort_list';

$sorted-list: $list_to_sort;
$sort-order: a b c d e f g h i j k l m n o p q r s t u v w x y z !default;

@function compare($string-a, $string-b, $order) {
    $string-a: to-lower-case($string-a + unquote(""));
    $string-b: to-lower-case($string-b + unquote(""));

    @for $i from 1 through min(str-length($string-a), str-length($string-b)) {
        $char-a: str-slice($string-a, $i, $i);
        $char-b: str-slice($string-b, $i, $i);

        @if $char-a and $char-b and index($order, $char-a) !=index($order, $char-b) {
            @return index($order, $char-a) < index($order, $char-b);
        }
    }

    @return str-length($string-a) < str-length($string-b);
}

@function swap($list, $index-a, $index-b) {
    @if abs($index-a)>length($list) or abs($index-b)>length($list) {
        @return $list;
    }

    $temp: nth($list, $index-a);
    $list: set-nth($list, $index-a, nth($list, $index-b));
    $list: set-nth($list, $index-b, $temp);

    @return $list;
}

@function sort($list, $order) {
    @for $i from 1 through length($list) {
        @for $j from $i through 1 {
            @if $j >1 and compare(nth($list, $j), nth($list, $j - 1), $order) {
                $list: swap($list, $j, $j - 1);
            }
        }
    }

    @return $list;
}

// Perform the sort
$sorted-list: sort($list_to_sort, $sort-order);

// Debug Log Output
@debug $sorted-list;